* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(159, 169, 255) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #ffffff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border:none;
  border-bottom: 1px solid black;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(0, 0, 0);
}

.todo-input::placeholder {
  color: #020202;
}

.todo-button {
  margin-left: 10px;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(60, 60, 60) 0%,
    rgb(87, 78, 92) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 1px solid #ff0000;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgb(255, 20, 20) 0%,
    rgb(211, 18, 18) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgb(49, 3, 141) 0%,
    rgb(14, 14, 108) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(121, 0, 115) 0%,
    rgb(255, 66, 167) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgb(18, 23, 28) 0%,
    rgb(46, 56, 69) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}